<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit()" #mascotaForm="ngForm">
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="nombre">Nombre</label>
          <input type="text" id="nombre" class="form-control" required [(ngModel)]="mascota.nombre" name="nombre">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="tipo">Tipo</label>
          <input type="text" id="tipo" class="form-control" required [(ngModel)]="mascota.tipo" name="tipo">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="raza">Raza</label>
          <input type="text" id="raza" class="form-control" required [(ngModel)]="mascota.raza" name="raza">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="sexo">Sexo</label>
          <input type="text" id="sexo" class="form-control" required [(ngModel)]="mascota.sexo" name="sexo">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-12">
          <label class="control-label" for="edad">Edad</label>
          <input type="number" id="edad" class="form-control" required [(ngModel)]="mascota.edad" name="edad">
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!mascotaForm.form.valid">Enviar</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

