<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline">
        <fieldset class="form-group col-sm-11"></fieldset>
        <fieldset class="form-group col-sm-1">
          <a class="btn btn-primary" [routerLink]="['/interesados/agregar']">Nuevo Interesado</a>
        </fieldset>
      </form>
      <br>
      <table class="table table-striped">
        <thead>
          <tr class="row">
            <th class="col-sm-2"> ID </th>
            <th class="col-sm-4"> NOMBRE </th>
            <th class="col-sm-4"> CEDULA </th>
            <th class="col-sm-4"> TELEFONO </th>
            <th class="col-sm-2"> ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interesado of interesados | async" class="row">
            <td class="col-sm-2"><i>{{ interesado.interesId }}</i></td>
            <td class="col-sm-4"><i>{{ interesado.nombre }}</i></td>
            <td class="col-sm-4"><i>{{ interesado.cedula }}</i></td>
            <td class="col-sm-4"><i>{{ interesado.telefono }}</i></td>
            <td class="col-sm-1">
              <fieldset class="form-group col-sm-1">
                <a class="btn btn-info" [routerLink]="['/interesados/editar/', interesado.interesId]">Editar</a>
              </fieldset>
            </td>
            <td class="col-sm-1">
              <fieldset class="form-group col-sm-1">
                <a class="btn btn-danger" (click)="borrarInteresado(interesado.interesId)">Borrar</a>
              </fieldset>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
